In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
x = pd.read_csv('fer2013.csv', error_bad_lines=False)
print (x.shape)

b'Skipping line 35891: expected 3 fields, saw 6\nSkipping line 35892: expected 3 fields, saw 9\nSkipping line 35893: expected 3 fields, saw 7\nSkipping line 35894: expected 3 fields, saw 8\nSkipping line 35900: expected 3 fields, saw 30\nSkipping line 35901: expected 3 fields, saw 4\n'

(35906, 3)

In [4]:
x.tail()       # as we can see there are some meta data which posseses problem to our working

                                     fer2013/fer2013.csv pixels Usage
35901  ganizers of future challenges and some comment...    NaN   NaN
35902  edge can be gained from machine learning compe...    NaN   NaN
35903  http://deeplearning.net/icml2013-workshop-comp...    NaN   NaN
35904                                                  }    NaN   NaN
35905                                                NaN    NaN   NaN

In [5]:
x.head()

,fer2013/fer2013.csv,pixels,Usage
0,0,70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...,Training
1,0,151 150 147 155 148 133 111 140 170 174 182 15...,Training
2,2,231 212 156 164 174 138 161 173 182 200 106 38...,Training
3,4,24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...,Training
4,6,4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...,Training

In [6]:
data = x.iloc[0:35887]

In [7]:
data.groupby('Usage').count()

             fer2013/fer2013.csv  pixels
Usage
PrivateTest                 3589    3589
PublicTest                  3589    3589
Training                   28709   28709

In [21]:
data.shape

(35887, 3)

In [22]:
data.tail()

,fer2013/fer2013.csv,pixels,Usage
35882,6,50 36 17 22 23 29 33 39 34 37 37 37 39 43 48 5...,PrivateTest
35883,3,178 174 172 173 181 188 191 194 196 199 200 20...,PrivateTest
35884,0,17 17 16 23 28 22 19 17 25 26 20 24 31 19 27 9...,PrivateTest
35885,3,30 28 28 29 31 30 42 68 79 81 77 67 67 71 63 6...,PrivateTest
35886,2,19 13 14 12 13 16 21 33 50 57 71 84 97 108 122...,PrivateTest

As we can see the pixels value in this dataset are all given  in  a single column & thus they need to be sepearated.

In [24]:
data = data.values
print (data.shape)
print (data[0, 0])

(35887, 3)
0

In [25]:
labels = data[:, 0]

In [26]:
pixels = data[:, 1]
print (type(pixels))
print (len(pixels[0]))
print (pixels[10][10])

<class 'numpy.ndarray'>
8287
3

In [27]:
pixels.shape

(35887,)

In [28]:
X = np.zeros((pixels.shape[0], 48*48))

for ix in range(X.shape[0]):
    p = pixels[ix].split(' ')
    for iy in range(X.shape[1]):
        X[ix, iy] = int(p[iy])

In [30]:
np.save('pixels', X)

In [32]:
np.save('labels', labels)